@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .bg-img {
    @apply bg-[url('/images/image-auth.png')] bg-cover;
  }
  svg.star-svg {
    display: inline;
  }

  button {
    @apply active:scale-95 transition-transform duration-150;
  }
}

@theme {
  --color-main: #f0f2f8;
  --color-prime: #1e40af;
  --color-abu: #e4e4e7;

  /* --breakpoint-xs: 30rem; */
}
