@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "./_variables.css";
@import "./_keyframe-animations.css";
@import "./tiptap.css";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  #nprogress .bar {
    height: 3px !important;
  }

  .bg-img {
    @apply bg-[url('/images/image-auth.png')] bg-cover;
  }
  svg.star-svg {
    display: inline;
  }

  .bouncy-button {
    @apply enabled:active:scale-95 transition-transform duration-150;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  [contenteditable]:focus {
    outline: none;
    border: none; /* only matters if you added a border yourself */
    box-shadow: none; /* clear framework focus styles */
  }

  .reset-button {
    @apply h-fit min-w-fit w-fit;
  }
}

@theme {
  --color-main: #f0f2f8;
  --color-prime: #1e40af;
  --color-abu: #e4e4e7;

  /* --breakpoint-2xl: 1280px; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
