@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .bg-img {
    @apply bg-[url('/image-auth.png')] bg-cover;
  }
  svg.star-svg {
    display: inline;
  }
}

@theme {
  --color-main: #f0f2f8;
  --color-prime: #00218e;
}
